$text-color: #000000;
$border-color: #3c3c3c;
$cell-bg: rgba(0,0,0,1);
$cell-bg-hover: #d0d0d7;
$border-hover-color: #db011f;


:root {
  scroll-behavior: smooth;
}
::-moz-selection { /* Code for Firefox */
  color: #171717;
  background: #bfff07;
}
::selection {
  color: #171717;
  background: #bfff07;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
html {
  scroll-behavior: smooth;
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
  color: $text-color;
  height: 100vh;
  width: 100vw;
}
@media (pointer:coarse){
    * {
        user-select: none;
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
      };
      
      button, 
      button:active, 
      button:focus {
        outline: none;
      };
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100%;
    padding: 5vw;
}
menu {
    display: grid;
    align-content:flex-start;
    h1 {
        color: $border-hover-color;
        font-family: 'Bebas Neue', cursive;
        font-size: 100px;
        margin-top: -20px;
    }
    span {
        color: $border-hover-color;
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
        font-weight: 100;
        line-height: 0px;
        margin-bottom: 7px;
    }
    a {
        width: fit-content;
    }
    button {
        width: 250px;
        height:60px;
        text-align: left;
        padding-left: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 16px;
        border-radius: 0px;
        border: none;
        margin-top: 10px;
        background-color: $cell-bg;
        color: $cell-bg-hover;
        border: 1px solid $border-color;
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: $cell-bg-hover;
            color: $text-color;
        }
    }
}
.board {
    display: grid;
    justify-content:end;
    height: 100%;
    width: 100%;

    .grid {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        //display: none;
    }
    .game-over,
    .winner {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        
    }
}
.details {
    background-color: $cell-bg-hover;
    width: 400px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    padding-right: 0px;
    h3 {
        font-family: 'Bebas Neue', cursive;
        font-weight: 100 !important;
        font-size: 18px;
        line-height: 1em;
        margin-bottom: 20px;
        color: $border-hover-color;

        b {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            color: $text-color;
            font-size: 16px;
        }
        &:nth-of-type(3),
        &:nth-of-type(4) {
            margin-bottom: 0px;
        }
        &:nth-of-type(4){
            color: $cell-bg-hover;
        }
    }
    a {
        height: fit-content;
        padding: 0;
        margin: 0;
    }
    button {
        padding: 20px;
        height: fit-content;
        width: fit-content;
        line-height: 0px;
    }

}
footer {
    bottom: 0px;
    padding: 10px;
    text-align: center;
    border-top: 10px solid $border-hover-color;
    width: 100vw;
    background-color: hsla(0, 0, 0, 0.6);
    color: $cell-bg-hover;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}


.grid {
    //border: 1px solid red;
    display: grid;
    aspect-ratio: 1/1;   
    height: 550px;
    margin-right: -5px;
    margin-bottom: -5px;
}
.cell {
    aspect-ratio: 1/1;
    display: grid;
    border: 1px solid $border-color;
    font-size: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: $cell-bg-hover;
    background-image: url('./land-mine.png') !important;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;

    .cell-text, .cell-btn {
        width: 100%;
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}
.cell-text {
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: $cell-bg-hover;
    color: $text-color;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;

}
.cell-btn {
    background-color: $cell-bg;
    border: none;
    cursor: pointer;
    
    &:hover {
        background-color: $cell-bg-hover;
    }
}
.game-over {
    display: none;
    width: 100%;
    height: 100%;
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;
    // rotate: -20deg;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0.8;

    span {
        background-color: $border-hover-color !important;
        padding-inline: 20px;
           
    }
}
.winner {
    display: none;
    width: 100%;
    height: 100%;
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0.8;

    span {
        background-color: rgb(24, 207, 0) !important;
        padding-inline: 20px;
           
    }
}



@media screen and (max-width: 1200px){
    body {
        height: auto;
    }
    main {
        grid-template-columns: 1fr;
        height: auto;
        
    }
    .board {
        justify-content:flex-start;
        margin-top: 50px;
    }
    
}
@media screen and (max-width: 600px){
    main {
        padding: 0px;

        menu {
            padding: 5vw;
            padding-top: 70px;
            h1 {
                font-size: 65px;
            }
            button {
                width: 60vw;
            }
            .details {
                grid-template-columns: 1fr;
                width: 100%;
            }
        }
        .board {
            
            .grid {
                width: 100vw;
                margin-bottom: 0px;
            }
        }
        
    }
    footer {
        margin-top: 50px;
    }
}
